
//@import "configs/desktop_config";
@import "vendors/bourbon/bourbon";
@import "vendors/neat/neat";
@import "vendors/font-awesome/font-awesome";
@import "modules/all";

@import "partials/base";
/*********************************************************************************************************************************************************
*********************************************************   RESET   *********************************************************************************
*********************************************************************************************************************************************************/
@import "partials/reset";

/*********************************************************************************************************************************************************
*********************************************************   FONTS   *********************************************************************************
*********************************************************************************************************************************************************/
@import "partials/typography";

h2,
h1{
	border-bottom:1px solid;
}

.fa{
	padding:0 5px;
}
/*********************************************************************************************************************************************************
*********************************************************   LISTS   *********************************************************************************
*********************************************************************************************************************************************************/
@import "partials/lists";
/*********************************************************************************************************************************************************
*********************************************************   COMMON   *********************************************************************************
*********************************************************************************************************************************************************/
@import "partials/atomic";

.loading{
	position: relative;
	&:after{
		content:"";
		position:absolute;
		top: 0;
		left:0;
		width:100%;
		height: 100%;
		background:url(../images/icons/loader_48b.gif) no-repeat scroll center center transparent;
		@include opacity(50);
	}
	&.loading:before {
	  	bottom: 0;
	  	content: "Loading...";
	  	display: block;
	  	font-weight: bold;
	  	height: 0;
	  	left: 0;
	  	margin: auto;
	  	padding-top: 60px;
	  	position: absolute;
	  	right: 0;
	  	text-align: center;
	  	top: 0;
	}
}
/*********************************************************************************************************************************************************
*********************************************************   BUTTONS   *********************************************************************************
*********************************************************************************************************************************************************/
@import "partials/buttons";
/*********************************************************************************************************************************************************
*********************************************************   NEAT GRID   *********************************************************************************
*********************************************************************************************************************************************************/
.gridCtn{
	@include outer-container;
	// max-width:75em;
}

.desktopMode .gridCtn{
	@include outer-container;
	max-width:none;

	@for $i from 1 through 12 {
		.g#{$i}{
			@include span-columns($i);
		}
	}
}

/*********************************************************************************************************************************************************
*********************************************************   LAYOUT   *********************************************************************************
*********************************************************************************************************************************************************/
body{
	max-width:100%;
	min-width:320px;
	overflow-x:hidden;

	@include retinaImg('../images/icons/gear.png', '.png');
}
#mainArticle{
	width: 100%;
	max-width:960px;
	margin:0 auto;
	padding:10px;
	padding-top:100px;
}

.bullet{
	padding:2px 0 2px 15px;
	position:relative;
	&:after{
		position:absolute;
		top:8px;
		left:2px;
		content: "";
		@include triangle('right', 5px, #000);
	}
}